body{
    background-color: black !important;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Ultra', serif;
    
}
.box{
    box-sizing: border-box;
    width:450px;
    border-radius: 10px;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 30px;
    background-image: radial-gradient(rgb(18,142,214), rgb(17,48,112));
    color:white;
}
.fn{
    padding: 10px 120px 6px 10px ;
    outline: none;
    border: none;
    border-left: 1px solid black; 
    border-bottom: 2px solid black;
    border-radius: 0px;
    margin:20px 0px 5px 0px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: black !important;
}
a:hover{
    
    color: white !important;
}
.lgn{
    padding: 10px 60px;  
    margin-bottom: 10px; 
    border: none;
    border-left: 1px solid black; 
    border-bottom: 2px solid black;
    border-radius: 0px;
    background-color: rgb(46,175,219);
}
.lgn:hover{
    color: white;
    border-radius: 5px;
    background-image: radial-gradient(rgb(18,142,214), rgb(17,48,112));
    padding: 10px 70px ;
}
@media (max-width:800px) {
    
}